<div class="container">

  <div class="row" style="display: inline-flex; gap: 2rem; ">
    <div class="dice" id='dice' #dice>
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
      <div class="face right"></div>
      <div class="face left"></div>
    </div>

    <div class="dice" id='dice1' #dice1>
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
      <div class="face right"></div>
      <div class="face left"></div>
    </div>
  </div>




  <button class="roll" [disabled]="sessionEnd" (click)="roll()">
    Roll Dice
  </button>
  <button class="roll" [disabled]="!sessionEnd" (click)="newGame()">
   Start new game
  </button>

  <div class="response">
    <p>{{playResponse}}</p>
  
    <p>Winning number : {{sessionRollNumber}}</p>
  </div>

</div>

